body{
    background-color: #6622DC;
    margin: 0;
}

header{
    background: #0C2E59;
    padding: 1em;
}

header nav ul{
    list-style: none;
    display: flex;
    
}

header nav ul li a{
    text-transform: uppercase;
    color: white;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
    margin-left: 300px;
    justify-content: space-between;
    font-size: 23px;
    margin-top: 60px;
}

header nav ul li a:hover{
  color: #D9525E;
}

header nav ul li a img{
  width: 60px;
  height: 60px;
  margin-top: -20px;
}

.logo a img{
position: absolute;
width: 150px;
height: 150px;
margin-top: -150px;
margin-left: 10px;
}



.backgroundimage img{
    width: 100%;
    height: 500px;
    
    object-fit: cover;

}

.backgroundimage h2{
    text-align: center;
    color: white;
    font-size: 40px;

    width: 60%;
    position: absolute;
    margin-top: -250px;
    margin-left: 25%;
}


.help-support{
    text-align: center;
    background: #0C2E59;
    height: 100px;
}

.problem-container{
    color: white;
    background: #0C2E59;
    width: 25%;
    height: 200px;
}

.problem-container a{
    color: white;
    text-decoration: none;
}

.problem-container a #btn{
    background: #D9525E;
}


