body{
    background-color: #6622DC;
    margin: 0;
}

header{
    background: #0C2E59;
    padding: 1em;
}

header nav ul{
    list-style: none;
    display: flex;
}

header nav ul li a{
    color: white;
    display: block;
    color: white;
    text-align: center;
    padding: 30px 50px;
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
    margin-left: 350px;

    font-size: 20px;
}


.logo a img{
position: absolute;
width: 150px;
height: 150px;
margin-top: -150px;
margin-left: 10px;
}

.contentsection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.slides img{
    width: 300px;
    height: 350px;

    object-fit: cover;
}

.slides ul li{
    list-style: none;
}

/*VISIT GENERIC CSS BELOW*/

.box100 {
    background-color: #0C2E59;
    height: 140%;
    width: 40%;
    font-size: 48px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

/* Home page For Finland*/

.finland a{
    font-size: 48px;
    color: white;
    text-transform: uppercase;
}

.box102{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 52%;
    font-size: 48px;
    color: white;
}
.box1{
    width: 50%;
    height: 300px;
    background-color: #0C2E59;
    margin: 3px 0 0 507px;
}

.box101 {
    background-color: #0C2E59;
    height: 100%;
    width: 60%;
    font-size: 48px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.section1{
    display: flex;
    margin-left: 40px;
    justify-content: space-evenly;
}

.section5{
    display: flex;
    margin-left: 40px;
    justify-content: space-between;
}

.filledspace {
    color: white;
    background: #0C2E59;
    font-size: 36px;
    width: 1218px;
    height: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.emptyspace {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container{
    background: #0C2E59;
    width: 300px;
    height: 300px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
}

.container2{
    background: #0C2E59;
    width: 720px;
    height: 1240px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
}

.container76{
    background: #0C2E59;
    width: 720px;
    height: 720px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
}

.bookingimage2{
    width: 1218px;
    height: 720px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.bookingimage3{
    width: 480px;
    height: 720px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


.pemex{
    width: 480px;
    height: 380px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.box22 {
    height: 10%;
    width: 50%;
    font-size: 24px;
    color: #D9525E;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
    outline-style: solid;
  }

  .whitetext {
    font-size: 24px;
    color: white;
    text-align: center;
    padding-top: 10px;
  } 

.box2{
    width: 300px;
    height: 300px;
    background-color: #0C2E59;
    margin: 0 474px 0 0;
}

.box71 {
    float: right;
}

.section8 {
    display: flex ;
    flex-direction: row-reverse;
    justify-content: center;
}

.section8 img {
    width: 300px;
    height: 300px;
    position: relative;
    left: -10%;
}

.image5 {
    width: 300px;
    height: 300px;
    position: relative;
    left: 24%;
}

.box25 {
    background-color: #0C2E59;
    height: 140%;
    width: 60%;
    font-size: 24px;
    color: white;
    margin-left: auto;
    margin-right: auto;
  } 

  .box30 {
    background-color: #0C2E59;
    height: 60px;
    width: 600px;
    font-size: 24px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  } 

  .section9 {
    display: flex ;
    flex-direction: row-reverse;
    justify-content: center;
}


.image4 {
    width: 700px;
    height: 300px;
    position: relative;
}

.box73{
    width: 700px;
    height: 300px;
    background-color: #0C2E59;
    position: relative;
    top: 20px;
    font-size: 48px;
    color: white;
    text-align: center;
}

.whitetext{
    color: white;
}

.section1 img{
    width: 700px;
    height: 300px;
    margin-left: 478px;
    display: flex;
}

.section1-images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 40px;
    margin-top: 100px;
}

.section1-images img{
    width: 300px;
    height: 300px;
}


.box22:hover{
    transform: scale(1.3);
    background: #0C2E59;
    box-shadow: 2px 2px 2px #000;
    z-index: 2;

}

/*footer*/

footer{
    margin-top: 100px;
    border-top: solid white 4px;
    width: 100%;
    height: 200px;
    background: #0C2E59;
  }
  
  .containerfooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
  }
  
  .contentfooter h2{
    color: white;
    font-size: 20px;
  }
  .emailenter{
    margin-left: 3px;
  position: relative;
  top: -110px;
  left: 50px;
  width: 300px;
  }
  .contentfooter a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
  }
  
  
 .contentfooter .media-icons a{
    font-size: 24px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
  
    transition: all 0.3s ease;
  }
  .content .media-icons a:hover{
    border-color: #D9525E;
  }
  footer .bottom{
    width: 60%;
    text-align: right;
    color: #d9d9d9;
  }
  footer .bottom a{
    color: #D9525E;
  }
  
  .bottom{
    margin-top: -90px;
    margin-left: -2%;
  }
  
  
  footer a:hover{
    color: #D9525E;
  }
  footer{
    position: relative;
  }
  
  .rightbox{
    height: 1px;
  }
  /*footer*/