body{
    background-image: url(/gfx/GENERIC/LoginBackground.gif);
    background-size: cover;
    margin: 0;
}

.logo img{
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0;
    text-align: center;
}

.bookingcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.bookingimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:500px; height:90%;
    color: white;
  }

.bookingcenter p{
    color: white;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
}

.button{
    margin-left: 41%;
    margin-top: 50px;
}

.thankyoucontainer{
    background: #0C2E59;
    width: 600px;
    position: relative;
    margin-left: 34%;
    padding: 2em;
}

.container{
    background: #0C2E59;
    width: 450px;
    height: 600px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.container h2{
    position: relative;
    left: 10px;
    top: 10px;
}

#name, #email, #password{
    width: 387px;
    height: 45px;

    border: solid #D9525E;
    background: #2F496A;
}


.signup-info{
    margin-left: 6%;    
}

.margintest{
    margin-top: 20px;
}
#dob{
    border: solid #D9525E;
    height: 45px;
    width: 125px;
    background: #2F496A;
}

.birth{
    text-align: center;
    font-size: 12px;
    margin-left: 57.5%;
}


.Login{
    position: relative;
    margin-left: 40%;
}

.signupbtn, p, .socialmedia, .have-account{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.have-account{
    margin-top: 30px;
}

.forgot{
    margin-top: 20px;
    position: relative;
    left: 69%;
}
.forgot a{
    color: white;
    font-size: 15px;
}

.signupbtn{
    margin-top: 20px;
}