body{
    background-image: url(/gfx/GENERIC/LoginBackground.gif);
    background-size: cover;
    margin: 0;
}

.logo img{
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0;
    text-align: center;
}

.container{
    background: #0C2E59;
    width: 450px;
    height: 600px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.container h2{
    position: relative;
    left: 10px;
    top: 10px;
}

#name, #email, #password{
    width: 387px;
    height: 45px;

    border: solid #D9525E;
    background: #2F496A;
}


.signup-info{
    margin-left: 6%;    
}

.margintest{
    margin-top: 20px;
}
#dob{
    border: solid #D9525E;
    height: 45px;
    width: 125px;
    background: #2F496A;
}

.birth{
    text-align: center;
    font-size: 12px;
    margin-left: 57.5%;
}


.Login{
    position: relative;
    margin-left: 40%;
}

.signupbtn, p, .socialmedia, .have-account{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.have-account{
    margin-top: 30px;
}